/* Reset de Estilos y Config base */
*{
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: "Arial", Helvetica, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #000000;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Encabezado y navegación */
#header{
  background-color: #000000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  color: white;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10;
}

#header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 20px;
}

#header h1{
  font-size: 2rem;
  font-weight: 300px;
}

nav{
  display: flex;
  gap: 2rem;
}

nav a{
  text-decoration: none;
  color: #f4f4f4;
  transition: color 0.3s ease
}

nav a:hover{
  color: #007bff;
}